<section id="live-editor">
  <textarea id="xml-source" rows="30" cols="55"></textarea>
  <textarea id="json-result" rows="30" cols="55"></textarea>
  <div id="warning">Invalid XML</div>
</section>

<% content_for :extra_head do -%>
  <%= javascript_include_tag 'editor.js' %>
<% end -%>
