<section id="live-editor">
  <textarea id="xml-source"></textarea><textarea id="json-result"></textarea>
  <div id="warning">Invalid XML</div>
</section>


<% content_for :extra_head do -%>
  <%= javascript_include_tag 'editor.js' %>
<% end -%>

