<section id="top-apis">
  <h2>Top APIs</h2>
  <table id="top-apis">
  <% @apis.each do |api| -%>
    <tr>
      <td><%= image_for_api(api) %></td>
      <td><%= link_to api.url, "http://#{api.url}" %></td>
      <td><%= pluralize(api.accesses, "access") %></td>
    </tr>
  <% end -%>
  </table>

</section>

