<section id="top-apis">
  <h1>Top APIs</h1>
  <table id="top-apis">
  <% @apis.each do |api| -%>
    <tr>
      <td><%= image_tag api.image.url %></td>
      <td><%= link_to api.title_or_url, "http://#{api.url}" %></td>
      <td><%= pluralize(api.accesses, "access") %></td>
    </tr>
  <% end -%>
  </table>

</section>

