<section id="top-apis">
  <h2>Top APIs</h2>
  <table id="top-apis">
  <% @stats.each do |stat| -%>
    <tr>
      <td><%= stat.url %></td>
      <td><%= stat.accesses %></td>
    </tr>
  <% end -%>
  </table>

</section>

