body {
	font: normal normal normal 14px/16px Arial,Helvetica,sans-serif;
}

/*** LINKS ***/

a, a:link, a:visited, a:hover { text-decoration: none; font-weight: bold; }

/*** END LINKS***/

/*** LAYOUT SECTIONS ***/

div#wrapper {
  width: 960px;
  margin: 0 auto;
  background: #eee;
}

header { height: 100px; }

nav { height: 100px; }

nav ul li {
  float: left;
  position: relative;
  margin: 0;
  width: 260px;
  text-align: center;
  background: #c00 url(../images/overlay-button.png) repeat-x;
  border: 1px solid #c00;
}
nav ul li.selected { background: #c00 url(../images/overlay-button-reverse.png) repeat-x; }
nav ul li:first-child { margin-left: 90px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border-right: none; }
nav ul li:last-child { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; border-left: none;  }

nav ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  font-size: 1.3em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

section { padding: 10px; }

/*** END LAYOUT SECTIONS ***/

div#warning {
  position: absolute;
  display: none;
  opacity: 0.7;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial,Helvetica,sans-serif;
  text-align: center;
}
textarea {
  width: 450px;
  height: 400px;
  margin: 0 0 0 13px;
  padding: 0;
  border: 1px solid #ddd;
}

/*** FORMS ***/

form { width: 800px; margin: 0 0 0 55px; }

input#request-url {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #ddd;
  font-size: 1.1em;
  font-weight: bold;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

section#api-converter textarea#json-result {
  width: 830px;
  margin: 20px 0 0 55px;
}

/*** END FORMS ***/

