body {
	font: normal normal normal 14px/16px Arial,Helvetica,sans-serif;
}

h1 {
	font: normal normal bold 2em/1em Arial,Helvetica,sans-serif;
	letter-spacing: -0.07em;
  border-bottom: 1px solid #ccc;
  margin: 0 80px 20px;
}

p { margin: 10px; }

/*** LINKS ***/

a, a:link, a:visited, a:hover { text-decoration: none; font-weight: bold; }
a, a:link { color: #c00; }
a:hover { color: #888; }

/*** END LINKS***/

/*** FLASH MESSAGES ***/
div.flash {
  width: 450px;
  padding: 20px;
  height: 20px;
  position: fixed;
  top: 0;
  margin-left: 250px;
  background: #ffc66d url(../images/overlay-button.png) repeat-x;
	font: normal normal bold 1.3em/1em Arial,Helvetica,sans-serif;
  text-align: center;
  color: #c00;
  border: 1px solid #FBC97B; border-top: none;
  -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
}
/*** END FLASH MESSAGES ***/

/*** LAYOUT SECTIONS ***/

div#wrapper {
  width: 960px;
  margin: 0 auto;
}

header { height: 100px; }

nav { height: 70px; }

nav ul li {
  float: left;
  position: relative;
  margin: 0;
  width: 260px;
  text-align: center;
  background: #c00 url(../images/overlay-button.png) repeat-x;
  border: 1px solid #c00;
  letter-spacing: -0.017em;
}

nav ul li:first-child { margin-left: 90px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border-right: none; }
nav ul li:last-child { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; border-left: none;  }

nav ul li:hover { background: #c00 url(../images/overlay-button-hover.png) repeat-x; }
nav ul li.selected, nav ul li:active { background: #c00 url(../images/overlay-button-reverse.png) repeat-x; }

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  display: block;
  padding: 15px 0;
  color: #fff;
  font-size: 1.3em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}

section { padding: 10px; }

footer { padding: 20px; text-align: center; }

/*** END LAYOUT SECTIONS ***/

/*** Sections ***/
section#login form, section#edit-api form {
  width: 400px;
  margin: 0 auto;
}
/*** End Sections ***/

div#warning {
  position: absolute;
  display: none;
  opacity: 0.7;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial,Helvetica,sans-serif;
  text-align: center;
}

/*** FORMS ***/

form {
  width: 800px;
  margin: 0 auto;
}

label, input[type=text], input[type=password] {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

label { display: block; margin: 0 0 5px 0; }

input[type=text], input[type=password] {
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  background: #fff url(../images/input_bg.gif) no-repeat;
}

textarea {
  width: 450px;
  height: 400px;
  margin: 0 0 0 13px;
  padding: 0;
  border: 1px solid #ddd;
}

input#request-url {
  width: 600px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #ddd;
  font-size: 1.1em;
  font-weight: bold;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  background: none;
}

input[type=submit],
input#convert {
  width: 160px;
  height: 50px;
  padding: 14px 0 16px;
  margin-left: 8px;
  background: #c00 url(../images/overlay-button.png) repeat-x;
  border: 1px solid #c00;
  color: #fff;
  font: normal normal bold 1.3em/15px Arial,Helvetica,sans-serif;
  text-align: center;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

input[type=submit] { margin: 0; }

section#api-converter textarea#json-result {
  width: 798px;
  margin: 20px 0 0 70px;
}
textarea#xml-source  { background: #fff url(../images/xml_b.png) no-repeat 97% 3%; }
textarea#json-result { background: #fff url(../images/json_b.png) no-repeat 97% 3%; }
input.placeholder { color: #a9a9a9; }

input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 8px #ff0;
  -moz-box-shadow: 0 0 8px #ff0;
  box-shadow: 0 0 8px #ff0;
}

/*** END FORMS ***/

/*** TABLES ***/
table { margin: 0 auto; }
table tr td {
  height: 32px;
  line-height: 32px;
  padding: 5px 10px;
  font: normal normal normal 16px/32px Arial,Helvetica,sans-serif;
  letter-spacing: -0.05em;
  vertical-align: top;
}
/*** END TABLES ***/

