body {
	font: normal normal normal 14px/16px Arial,Helvetica,sans-serif;
}

h2 {
  font: normal normal bold 3em/1em times,"Times New Roman",serif;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #ccc;
  margin: 0 80px 20px;
}

/*** LINKS ***/

a, a:link, a:visited, a:hover { text-decoration: none; font-weight: bold; }
a, a:link { color: #c00; }
a:hover { color: #888; }

/*** END LINKS***/

/*** LAYOUT SECTIONS ***/

div#wrapper {
  width: 960px;
  margin: 0 auto;
/*  background: #eee;*/
}

header { height: 100px; }

nav { height: 100px; }

nav ul li {
  float: left;
  position: relative;
  margin: 0;
  width: 260px;
  text-align: center;
  background: #c00 url(../images/overlay-button.png) repeat-x;
  border: 1px solid #c00;
  letter-spacing: -0.017em;
}


nav ul li:first-child { margin-left: 90px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; border-right: none; }
nav ul li:last-child { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; border-left: none;  }

nav ul li:hover { background: #c00 url(../images/overlay-button-hover.png) repeat-x; }
nav ul li.selected, nav ul li:active { background: #c00 url(../images/overlay-button-reverse.png) repeat-x; }

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  display: block;
  padding: 15px 0;
  color: #fff;
  font-size: 1.3em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}

section { padding: 10px; }

footer { padding: 20px; text-align: center; }

/*** END LAYOUT SECTIONS ***/

div#warning {
  position: absolute;
  display: none;
  opacity: 0.7;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16pt;
  font-family: Arial,Helvetica,sans-serif;
  text-align: center;
}
textarea {
  width: 450px;
  height: 400px;
  margin: 0 0 0 13px;
  padding: 0;
  border: 1px solid #ddd;
}

/*** FORMS ***/

form { width: 800px; margin: 0 auto; }

input { font-family: Arial,Helvetica,sans-serif; }

input#request-url {
  width: 600px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #ddd;
  font-size: 1.1em;
  font-weight: bold;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

input#convert {
  width: 160px;
  height: 50px;
  padding: 14px 0 16px;
  margin-left: 8px;
  background: #c00 url(../images/overlay-button.png) repeat-x;
  border: 1px solid #c00;
  color: #fff;
  font: normal normal bold 1.3em/15px Arial,Helvetica,sans-serif;
  text-align: center;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

section#api-converter textarea#json-result {
  width: 798px;
  margin: 20px 0 0 70px;
}
textarea#xml-source  { background: #fff url(../images/xml_b.png) no-repeat 97% 3%; }
textarea#json-result { background: #fff url(../images/json_b.png) no-repeat 97% 3%; }
input.placeholder { color: #a9a9a9; }

/*** END FORMS ***/

/*** TABLES ***/
table { margin: 0 auto; }
table tr td {
  height: 32px;
  line-height: 32px;
  padding: 5px 10px;
  font: normal normal normal 16px/32px Arial,Helvetica,sans-serif;
  letter-spacing: -0.05em;
  vertical-align: top;
}
/*** END TABLES ***/

